<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href='{{url_for('static', filename="styles.css")}}'>
</head>
<body>
    <h1 id="titulo">unit converter</h1>

    <div id="form">
        <div class="change_pag">
            <button onclick="window.location.href='{{url_for('index')}}'">
                <span> length
                </span>
              </button>
            <button onclick="window.location.href='{{url_for('weight')}}'">
                <span> weight
                </span>
              </button>
            
            <button onclick="window.location.href='{{url_for('temperature')}}'">
                <span> temperature
                </span>
              </button>
            </div>
            <div id="inputs">
              <form action="/procesar_temperature" method="post">
        <h3 class="letreros">enter the temperature to convert</h3>
        <input type="text" name="temperature" class="input_box" required>
        <h3 class="letreros">unit to convrt from</h3>
        <input type="text" name="unit_from" class="input_box" required>
        <h3 class="letreros">unit to convrt to</h3>
        <input type="text" name="unit_to" class="input_box" required>
        </div>

        <button type="submit" id="submit" <span>submit</span></button>
        </form>

    </div>
    

</body>
</html>